<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<form method='post' action='uploadElasticSearchMapping' enctype="multipart/form-data">
    <input type='file' name='fileUploaded'>
    <input type='submit'>
</form>
</body>
</html>